.adContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  
  .mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 1000;
  }
  
  .pc {
    width: 160px;
    height: 600px;
    position: sticky;
    top: 250rem; /* 헤더나 네비게이션 높이에 맞춰서 */
  }
  
  @media (max-width: 768px) {
    .pc {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .mobile {
      display: none;
    }
  }
  